/* Page */

.page {
    font-family: Circular, sans-serif;
    background-color: #222;
    color: #FAFAFA;
}

.page__body {
    margin: 0;
    background-color: #250B5A;
    background-image: url("/src/img/bg.png");
    background-repeat: no-repeat;
}

.page__body.home {
    background-image: url("/src/img/main.webp");
}

.full-height{
    min-height: calc(100vh - 76px);
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}